  .heade{
    background: black;
    .list {
      color: white;
    }
    .sub {
      padding-bottom: 0.5rem;
    }
    
    header{
      padding-bottom: 0.5rem;
      justify-content: center;
      align-items: center;
    }
  }

