.product-resumen {
    hr {
        border: none;
        height: 1px;
        background-color: rgb(119, 119, 119); /* Cambia el color aquí */
        margin: 10px 0; /* Espacio arriba y abajo de la línea */
    }
    
    .part-mar{
        padding-top: 0.5rem;
        font-size: 12px;
    }
    .nombre {
        font-size: 14px;
    }
    
   
}





