
/* ESTILOS DEL GRID */
.column-flex{
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-self: center;
    
}
.group {
    align-items: center;
    justify-content: center;

}
