   .cards {
    display: flex;
    flex-wrap: wrap;
   }
    
    .filtros {
        margin-top: 16rem;
        padding: 3rem;
    }

    .search-filter {
        padding-bottom: 20px;
        
    }






